node_modules
/*.html
/*.pdf
dist
themes/*.css
/CDDO-CLZ-CTOC1.md
.gitsecret/keys/random_seed
!*.secret
/CDDO-UKPSCM-openday1.md
.gitsecret/keys/S.gpg-agent*
CDDO-NDX_ignite2.md
images/cddo/NDA_0.1.png
images/cddo/postits.jpeg
