@import-theme "gaia";
/*!
* Marp / Marpit cddo theme.
 *
 * @theme themes/cddo
 * @author Chris Nesbitt-Smith
 *
 * @auto-scaling true
 * @size 4K 3840px 2160px
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */

section {
  &.white {
    background-color: #fff;
  }
  &.end {
    -webkit-text-stroke: 0.03em black;
    .container {
      position: absolute;
      top: 50%;
    }
    h3 {
      color: rgb(223, 191, 191);
      position: relative;
      font-size: 9vw;
      animation: glitch 5s 5s infinite;
      font-size: 3em;
      line-height: 1em;
      margin-top: 0;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
  &.front {
    h1 {
      -webkit-text-stroke: 2px black;
      text-align: left;
    }

    h3 {
      font-weight: normal;
    }

    padding-top: 10%;

    img {
      width: 30%;
    }
  }
  &.fade {
    li,
    h1,
    p {
      color: rgba(69, 90, 100, 0.2);
    }
    strong {
      color: rgba(69, 90, 100, 1);
    }
    &.invert {
      strong {
        color: rgba(255, 248, 225, 1);
      }
      li,
      h1,
      p {
        color: rgba(255, 248, 225, 0.2);
      }
    }
  }
  font-weight: bold;
  &.front,
  &[id="1"] {
    background-image: url(images/cddo/CDDO-brand-slides.svg) !important;
    color: black;
    padding: 0;
    text-align: left;

    img[alt~="top"] {
      position: absolute;
      top: 4vh;
    }
    img[alt~="right"] {
      position: absolute;
      right: 4vh;
    }
    h1 {
      z-index: 1;
      bottom: 6vh;
      text-align: left;
    }
    h1,
    h2 {
      margin-left: 3%;
    }
    h3 {
      right: 3%;
    }
    h2,
    h3 {
      bottom: 0;
    }
    h1,
    h2,
    h3 {
      padding: 3%;
      position: absolute;
    }
  }
  &.lead {
    color: black;
  }
  &.frame {
    background-image: url(images/cddo/bg-frame.svg) !important;
  }
  &.columns-2 {
    columns: 2;
    display: block;
    h1 {
      column-span: all;
    }
    h2 {
      break-before: column;
      margin-top: 0;
    }
  }
  code {
    font-family: "Courier New", Courier, monospace;
  }
  .MathJax {
    font-size: 3em;
  }
  @for $i from 1 to 100 {
    &[id="$i"].lead.quote {
      $index: resolve($i % 2);
      background-size: cover;
      background-image: url(images/cddo/bg-quote$(index).svg);
    }
  }
  @for $i from 1 to 100 {
    &[id="$i"].lead {
      $index: resolve($i % 2);
      background-image: url(images/cddo/bg$(index).svg);
    }
  }
  &.lava {
    background: #ffe000;
    background-image: none !important;

    .lava {
      filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1"><defs><filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" /><feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" /><feBlend in="SourceGraphic" in2="goo" /></filter></defs></svg>#goo');
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      z-index: -1;

      &::before,
      &::after,
      div {
        border-radius: 20px;
        position: absolute;
        content: "";
        border-radius: 20px;
        position: absolute;
      }

      &.pink {
        div {
          width: calc(15% * 1.4);
          height: 15%;
          right: -25px;
          bottom: 35%;
          animation: blob-one ease-in-out 270s infinite;
        }
        &::before,
        &::after,
        div {
          background: #ff8fcf;
        }
        &::after {
          width: calc(22% * 1.4);
          height: 22%;
          right: 14%;
          bottom: -15%;
          animation: blob-two ease-in-out 222s infinite;
        }
        &::before {
          width: calc(25% * 1.4);
          height: 32%;
          bottom: -15%;
          right: 14%;
          animation: blob-three ease-in-out 162s infinite;
        }
      }
      &.green {
        div {
          width: calc(15% * 1.4);
          height: 45%;
          left: -25px;
          top: -35%;
          animation: blob-five ease-in-out 201s infinite;
        }
        &::before,
        &::after,
        div {
          background: #b5cc17;
        }
        &::after {
          width: calc(12% * 1.4);
          height: 22%;
          left: 14%;
          top: -15%;
          animation: blob-four ease-in-out 387s infinite;
        }
        &::before {
          width: calc(32% * 1.4);
          height: 32%;
          bottom: 35%;
          left: 14%;
          animation: blob-six linear 243s infinite;
        }
      }
    }
    @keyframes blob-one {
      50%,
      0% {
        transform: translatey(0);
      }
      25% {
        transform: translatey(300%);
      }
      75% {
        transform: translatey(-400%);
      }
    }

    @keyframes blob-two {
      0%,
      100% {
        transform: translatey(0);
      }
      50% {
        transform: translatey(-420%);
      }
    }

    @keyframes blob-three {
      0%,
      100% {
        transform: translatey(0);
      }
      50% {
        transform: translatey(-305%);
      }
    }

    @keyframes blob-four {
      0%,
      100% {
        transform: translatey(0);
      }
      50% {
        transform: translatey(700%);
      }
    }

    @keyframes blob-five {
      0%,
      100% {
        transform: translatey(0);
      }
      50% {
        transform: translatey(320%);
      }
    }
    @keyframes blob-six {
      0%,
      50% {
        transform: translatey(0);
      }
      25% {
        transform: translatey(205%);
      }
      75% {
        transform: translatey(-185%);
      }
    }
  }
  .columns-3 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
  &.listline {
    &.animate {
      li {
        animation-name: pulsate;
        animation-timing-function: ease-in;
        animation-delay: calc(var(--animation-order) * 200ms);
        animation-duration: 2s;
        animation-iteration-count: infinite;
        @for $i from 1 to 100 {
          &:nth-child($i) {
            --animation-order: $i;
          }
        }
      }
    }
    ul {
      text-align: center;
      li {
        display: inline;
        &:not(:first-of-type):before {
          content: " | ";
          opacity: 0.2;
        }
      }
    }
  }
}
