@import-theme "gaia";
/*!
* Marp / Marpit cns theme.
 *
 * @theme themes/cns
 * @author Chris Nesbitt-Smith
 *
 * @auto-scaling true
 * @size 4K 3840px 2160px
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */

section {
  &.white {
    background-color: #fff;
  }
  &.fade {
    li,
    h1,
    p {
      color: rgba(69, 90, 100, 0.2);
    }
    strong {
      color: rgba(69, 90, 100, 1);
    }
    &.invert {
      strong {
        color: rgba(255, 248, 225, 1);
      }
      li,
      h1,
      p {
        color: rgba(255, 248, 225, 0.2);
      }
    }
  }
  font-weight: bold;

  &[id="1"] {
    p,
    h1 {
      text-shadow: 2px 2px 4px rgb(69, 90, 100);
    }
  }
  &.listline {
    &.animate {
      li {
        animation-name: pulsate;
        animation-timing-function: ease-in;
        animation-delay: calc(var(--animation-order) * 200ms);
        animation-duration: 2s;
        animation-iteration-count: infinite;
        @for $i from 1 to 100 {
          &:nth-child($i) {
            --animation-order: $i;
          }
        }
      }
    }
    ul {
      text-align: center;
      li {
        display: inline;
        &:not(:first-of-type):before {
          content: " | ";
          opacity: 0.2;
        }
      }
    }
  }
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
