@import "./glitch.css";
@import-theme "themes/cns";
/*!
* Marp / Marpit esynergy theme.
 *
 * @theme themes/esynergy
 * @author Chris Nesbitt-Smith
 *
 * @auto-scaling true
 * @size 4K 3840px 2160px
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */

section {
  &.end {
    -webkit-text-stroke: 0.03em black;

    h3 {
      color: rgb(223, 191, 191);
      position: relative;
      font-size: 9vw;
      animation: glitch 5s 5s infinite;
      font-size: 3em;
      line-height: 1em;
      margin-top: 0;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &.front {
    h1 {
      -webkit-text-stroke: 2px black;
    }

    h3 {
      font-weight: normal;
    }

    padding-top: 10%;

    img {
      width: 30%;
    }
  }
}

@keyframes blinker {
  50% {
    -webkit-text-stroke: 0.02em blue;
  }
}
