@import "./glitch.scss";
@import-theme "themes/cns";
/*!
* Marp / Marpit esynergy theme.
 *
 * @theme themes/esynergy
 * @author Chris Nesbitt-Smith
 *
 * @auto-scaling true
 * @size 4K 3840px 2160px
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */

section {
  &.end {
    &.title-page {
      img[alt="esynergylogo"] {
        position: absolute;
        right: 2ch;
      }
    }
  }

  div.esynergy {
    background: url("../images/esynergy-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2%;
  }
  &.end {
    .esynergy {
      width: 20ch;
      height: 200px;
    }
  }
}
