name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    # Runs monthly on the 3rd day at 02:01 UTC
    - cron: "1 2 3 * *"
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
      - run: npm install
      - run: npm run lint
      - run: npm test

  indexpage:
    name: Index Page
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
      - run: npm install
      - run: mkdir -p dist
      - run: npm run build:indexhtml
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: index
          path: dist/index.html
          retention-days: 1

  generate-matrix:
    name: Generate Matrix Build
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          sparse-checkout: .
      - id: set-matrix
        run: echo "matrix=$(ls *.md | sed -e 's/.md//g' | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs:
      - generate-matrix
    strategy:
      fail-fast: false
      matrix:
        file: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
        format:
          - html
          - pptx
          - image
          - txt
          - pdf
        exclude:
          - file: CODE_OF_CONDUCT
          - file: README
          - file: schedule
          - file: SECURITY

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
      - run: find . -name "*.md" ! -name "${{ matrix.file }}.md" -exec rm {} +
      - run: npm install
      - run: npm run build:css
        if: matrix.format != 'txt'

      - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # v1.6.0
        if: matrix.format == 'pdf'
        with:
          packages: ghostscript
          version: 1.0

      - uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: PUPPETEER_TIMEOUT=1200000 npm run build:${{ matrix.format }}

      - run: mv -v dist/*.* ${{ matrix.file }}.${{ matrix.format }}

      - run: npm run build:pdf:compress
        if: matrix.format == 'pdf'

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.file }}-${{ matrix.format }}
          path: ${{ matrix.file }}.${{ matrix.format }}
          retention-days: 1

  converge:
    runs-on: ubuntu-latest
    needs:
      - lint
      - build
      - indexpage
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          sparse-checkout: images
      - run: mkdir -p dist
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: artifacts/
      - run: mv -v artifacts/*/* dist/
      - run: for file in dist/*.image; do mv "$file" "${file%.image}.png"; done
      - run: cp -vr images dist/
      - run: tar -cvf dist.tar ./dist
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist.tar
          path: dist.tar
          retention-days: 1

  publish:
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://talks.cns.me
    permissions:
      id-token: write
    needs:
      - converge
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist.tar
      - run: tar -xf dist.tar
      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6
        with:
          role-to-assume: arn:aws:iam::557195821817:role/talks-cns-me-write
          aws-region: eu-west-2
      - run: aws s3 sync --delete dist s3://talks.cns.me
